html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

input.big {
  color: #424242;
  font-size: 1.4rem;
  padding: 0px;
  margin: 0px;
  font-weight: 500;
  border: none;
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 100%;
}

input.big:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: none;
}

input.big::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

button,
[role="button"] {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
}

button[disabled],
[role="button"][disabled] {
  cursor: default;
}

button.flat,
[role="button"].flat {
  background: var(--brand-500);
  color: white;
  border: none;
}

button.flat:hover,
[role="button"].flat:hover {
  background: var(--brand-600);
}

button.flat:active,
[role="button"].flat:active {
  background: var(--brand-700);
}

button.flat[disabled],
[role="button"].flat[disabled] {
  background: var(--brand-100);
  color: var(--brand-400);
}

button.outline,
[role="button"].outline {
  background: transparent;
  border: 1px solid var(--brand-400);
  color: var(--brand-400);
}

button.outline:hover,
[role="button"].outline:hover {
  border: 1px solid var(--brand-500);
  color: var(--brand-500);
}

button.outline:active,
[role="button"].outline:active {
  border: 1px solid var(--brand-600);
  color: var(--brand-600);
}

button.outline[disabled],
[role="button"].outline[disabled] {
  border: 1px solid var(--brand-200);
  color: var(--brand-200);
}

button.bezel,
[role="button"].bezel {
  color: white;
  background-image: linear-gradient(var(--brand-500), var(--brand-600));
  box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 0px 0px inset,
    rgba(0, 0, 0, 0.25) 0px -1px 0px 0px inset,
    rgba(0, 0, 0, 0.1) 0px 2px 6px 0px;
  border: none;
}

button.bezel:hover,
[role="button"].bezel:hover {
  background-image: linear-gradient(var(--brand-600), var(--brand-700));
}

button.bezel:active,
[role="button"].bezel:active {
  background-image: linear-gradient(var(--brand-700), var(--brand-800));
}

button.bezel[disabled],
[role="button"].bezel[disabled] {
  background: var(--brand-100);
  color: var(--brand-400);
  box-shadow: none;
}

button.neutral.flat,
[role="button.neutral"].flat {
  background: var(--neutral-500);
  color: white;
  border: none;
}

button.neutral.flat:hover,
[role="button.neutral"].flat:hover {
  background: var(--neutral-600);
}

button.neutral.flat:active,
[role="button.neutral"].flat:active {
  background: var(--neutral-700);
}

button.neutral.flat[disabled],
[role="button.neutral"].flat[disabled] {
  background: var(--neutral-100);
  color: var(--neutral-400);
}

button.neutral.outline,
[role="button.neutral"].outline {
  background: transparent;
  border: 1px solid var(--neutral-400);
  color: var(--neutral-400);
}

button.neutral.outline:hover,
[role="button.neutral"].outline:hover {
  border: 1px solid var(--neutral-500);
  color: var(--neutral-500);
}

button.neutral.outline:active,
[role="button.neutral"].outline:active {
  border: 1px solid var(--neutral-600);
  color: var(--neutral-600);
}

button.neutral.outline[disabled],
[role="button.neutral"].outline[disabled] {
  border: 1px solid var(--neutral-200);
  color: var(--neutral-200);
}

button.neutral.bezel,
[role="button.neutral"].bezel {
  background-image: linear-gradient(var(--neutral-500), var(--neutral-600));
}

button.neutral.bezel:hover,
[role="button.neutral"].bezel:hover {
  background-image: linear-gradient(var(--neutral-600), var(--neutral-700));
}

button.neutral.bezel:active,
[role="button.neutral"].bezel:active {
  background-image: linear-gradient(var(--neutral-700), var(--neutral-800));
}

button.neutral.bezel[disabled],
[role="button.neutral"].bezel[disabled] {
  background: var(--neutral-100);
  color: var(--neutral-400);
}
