:root {

  /* TODO use CSS preprocessor to set main width of 64rem */

  --brand: #88a98c;
  --brand-50: #f3f6f4;
  --brand-100: #e1eae1;
  --brand-200: #c4d6c5;
  --brand-300: #88a98c;
  --brand-400: #729577;
  --brand-500: #527759;
  --brand-600: #3d5e44;
  --brand-700: #314b37;
  --brand-800: #283d2d;
  --brand-900: #223226;
  --brand-950: #121c14;
  --neutral-50: #ffffff;
  --neutral-100: #efefef;
  --neutral-200: #dcdcdc;
  --neutral-300: #bdbdbd;
  --neutral-400: #989898;
  --neutral-500: #7c7c7c;
  --neutral-600: #656565;
  --neutral-700: #525252;
  --neutral-800: #464646;
  --neutral-900: #3d3d3d;
  --neutral-950: #292929;
}
