# Keep .gitkeep
!**/.gitkeep

# Python
**/__pycache__/

# Data
db/*
images/*

# Logs
logs/*

# Dependency directories
**/node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# dotenv environment variable files
.env.*

# Cache
**/.cache

# Nuxt.js build / generate output
gui/.nuxt
dist

# Token
utils/.token
