$primary-50: #f3f6f4;
$primary-100: #e1eae1;
$primary-200: #c4d6c5;
$primary-300: #88a98c;
$primary-400: #729577;
$primary-500: #527759;
$primary-600: #3d5e44;
$primary-700: #314b37;
$primary-800: #283d2d;
$primary-900: #223226;
$primary-950: #121c14;

$neutral-50: #f6f7f6;
$neutral-100: #eef0ee;
$neutral-200: #daddda;
$neutral-300: #bac0b9;
$neutral-400: #939e92;
$neutral-500: #768275;
$neutral-600: #5f6a5f;
$neutral-700: #4d574d;
$neutral-800: #424a42;
$neutral-900: #3a403a;
$neutral-950: #272a27;

$red-50: #fff1f1;
$red-100: #ffdfdf;
$red-200: #ffc5c5;
$red-300: #ff9c9c;
$red-400: #ff6363;
$red-500: #ff3333;
$red-600: #ef1313;
$red-700: #c90c0c;
$red-800: #a40e0e;
$red-900: #891313;
$red-950: #4b0404;
