/* pop */
.pop-enter-active,
.pop-leave-active {
  transition: all 0.2s cubic-bezier(0.65, 0.54, 0.6, 1.5);
}

.pop-enter-from,
.pop-leave-to {
  transform: scale(0.5);
  opacity: 0;
}

/* slide-up */
.slide-up-enter-active,
.slide-up-leave-active {
  transition: transform 0.3s cubic-bezier(0.1, 0.8, 0.5, 1.1), opacity 0.3s ease-out;
}

.slide-up-enter-from,
.slide-up-leave-to {
  transform: translate(0, 100%);
  opacity: -10;
}

/* page-slide-forward and page-slide-backward */
.page-slide-forward-enter-active,
.page-slide-forward-leave-active,
.page-slide-backward-enter-active,
.page-slide-backward-leave-active {
  box-shadow: 0 0 64px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-out, filter 0.2s ease-out;
}

.page-slide-forward-enter-active,
.page-slide-backward-leave-active {}


.page-slide-forward-enter-from,
.page-slide-backward-leave-to {
  transform: translateX(calc(100% + 64px));
  z-index: 1;
}

.page-slide-forward-leave-to,
.page-slide-backward-enter-from {
  filter: brightness(0.5);
}

/* slide right-left */
.slide-right-left-enter-active,
.slide-right-left-leave-active {
  transition: all 0.3s ease-out;
}

.slide-right-left-enter-from {
  opacity: 0;
  transform: translate(100%, 0);
}

.slide-right-left-leave-to {
  opacity: 0;
  transform: translate(-100%, 0);
}

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}