.pop-enter-active,
.pop-leave-active {
  transition: all 0.2s cubic-bezier(0.65, 0.54, 0.6, 1.5);
}

.pop-enter-from,
.pop-leave-to {
  transform: scale(0.5);
  opacity: 0;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: transform 0.3s cubic-bezier(0.1, 0.8, 0.5, 1.1), opacity 0.3s ease-out;
}

.slide-up-enter-from,
.slide-up-leave-to {
  transform: translate(0, 100%);
  opacity: -10;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}